USE [school]
GO
/****** Object:  Table [dbo].[students]    Script Date: 03/03/2026 6:30:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[age] [int] NULL,
	[email] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[students] ON 

INSERT [dbo].[students] ([id], [name], [age], [email]) VALUES (2, N'Nguyễn Văn Long', 21, N'long@gmail.com')
INSERT [dbo].[students] ([id], [name], [age], [email]) VALUES (3, N'Trần Thị Hoa', 20, N'hoa.tt@gmail.com')
INSERT [dbo].[students] ([id], [name], [age], [email]) VALUES (4, N'Lê Minh Anh', 22, N'minhanh@gmail.com')
SET IDENTITY_INSERT [dbo].[students] OFF
GO
